body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

#array-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 70vh;
    margin: 20px;
}

.bar {
    width: 20px;
    margin: 2px;
    background-color: #3498db;
}